<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/style.css">
</head>
<body>

    <h1> {{pageTitle}} </h1>
     <h1> {{subTitle}} </h1>

    <input type="text" id="example">
    <button id="action">click</button>
    <span id="text">example</span>

    <script src="./../js/functions.js"></script>
</body>
</html>